### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle (if used) ###
.gradle/
build/

### IDEs ###
# Eclipse
.project
.classpath
.factorypath
.settings/
.loadpath

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

### Spring Boot ###
*.jar
*.war
*.ear

### OS-specific ###
.DS_Store
Thumbs.db

### Multi-Module Microservices (applies to all future services) ###
# Ignore compiled outputs (bin/ or target/) inside every service
*/bin/
*/target/

# Ignore Eclipse metadata inside every service
*/.classpath
*/.factorypath
*/.project
*/.settings/

# Ignore IntelliJ metadata inside every service
*/.idea/
*/*.iml
/.metadata
cart-service/HELP.md
product-service/HELP.md
